
[class*="col-md"] {
    border: black solid thin;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

li {
    list-style-type: none;
}

header {
    font-size: 10px;
}

footer {
    font-size: 5px;
}
/*页脚字体*/
#Master_nav > li > a {
    /*color: rgb(241,6,132);*/
    font-weight: bold;
    margin-left: 10px;
}

 #Master_nav > li > a:hover {
        color: red;
    }

#Master_img > li > img, .FootSize > a {
    margin-left: 5px;
}
/* 导航*/
.MaeginRightLi>a {
margin-left:20%;
position:relative;
}

/*搜索框*/
#seek {
    /*border: rgb(241,6,132) solid 3px;*/
    height: 50px;
}
    /*搜索框后的按钮*/
    #seek + #basic-addon2 {
        background: rgb(241,6,132);
        /*border: rgb(241,6,132) solid 3px;*/
    }

.input_margin {
}
