
     
/*侧边栏大小*/
#Homepage_asie {
    width: 420%;
    height: 201%;
}

    #Homepage_asie > ul {
        padding: 0;
        margin: 0;
        border: red solid thin;
        float: left;
        font-weight: bold;
        font-size: 15px;
    }

        #Homepage_asie > ul > li > span {
            padding-left: 15px;
        }

/* 导航开始*/
#Navs {
    width: 340%;
    height: 100%;
    margin-left: 5%;
}

#Nav_parent {
    border: black solid thin;
    width: 26%;
    height: 100%;
    background: rgb(241,6,132);
    padding-left: 0%;
    padding-right: 2%;
}

    #Nav_parent > li {
        margin-top: 4.2%;
        color: rgb(255,255,255);
    }

        #Nav_parent > li > a {
            padding-left: 5%;
            padding-right: 2%;
            font-size: 15px;
            font-weight: bold;
            color: rgb(255,255,255);
        }
/* 导航结束*/

/* 子导航*/
#Nav_sno {
    border: red solid thin;
    width: 66%;
    height: inherit;
    float: left;
    padding: 0;
}

    #Nav_sno > li > dl > dt {
        border-bottom: black solid thin;
        margin-bottom: 2%;
        box-shadow: 1px 1px 1px rgba(208,219,205,1);
    }

    #Nav_sno > li > dl > dd > a {
        padding-left: 2%;
    }


/*Carousel 轮播图*/

/*距离左边位置*/
#CarouselFrist {
    width: 59.2%;
    margin-left: -1.5%;
}

.carousel {
    width: 105%;
    height: 100%;
}


#Carouse_widht {    
    background: rgb(255,255,255);
    width: 100%;
    height: 100%;
   
}

.item {
 
    width: 100%;
    height: 400px;
}

/*轮播图片*/
.carouse1_img {
   
    background-image:url("../../App_Image/CarouselImage/1.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    height: 100%;
}

.carouse2_img {
     
    background-image: url("../../App_Image/CarouselImage/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    height: 100%;
}

.carouse3_img {
    background-image: url("../../App_Image/CarouselImage/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    height: 100%;
}

.carouse4_img {
    background-image: url("../../App_Image/CarouselImage/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*当鼠标移入时 ，弹出背景图*/
     .carouse1_bg {
         background-image: url("../../App_Image/CarouselImage/1_bg.jpg");
         background-size: contain;
         background-repeat: no-repeat;
         width: 90%;
         height: 100%;
         z-index: 2;
         margin: -42% 5%;
         position: absolute;
     }

.carouse2_bg {
         background-image: url("../../App_Image/CarouselImage/4_bg.jpg");
         background-size: contain;
         background-repeat: no-repeat;
         width: 90%;
         height: 67%;
         z-index: 2;
         margin: -45% 5%;
         position: absolute;         
}

.carouse3_bg {
      background-image: url("../../App_Image/CarouselImage/3_bg.jpg");
         background-size:contain;
         background-repeat: no-repeat;
         width: 100%;
         height: 80%;
         z-index: 2;
         margin:-48% 5%;
         position: absolute;                  
}

.carouse4_bg {
     background-image: url("../../App_Image/CarouselImage/5_bg.jpg");
         background-size: contain;
         background-repeat: no-repeat;
         width: 90%;
         height: 70%;
         z-index: 2;
         margin: -45% 5%;
         position: absolute;         
}


/*!--注册样式开始--*/
#RegisterUL {
    margin-left: -7%;
    width: 100%;
}

#Register {
    border: rgba(246,6,132,.2) solid thin;
    background: rgba(246,6,132,.1);
    height: 100%;
    background: linear-gradient(90deg,rgba(246,6,132,.2),rgba(246,6,132,.3));
}

.user {
    margin-top: 8%;
}

.btndefault {
    background: rgb(241,6,132);
    font-weight: bold;
    margin-left: 8%;
    margin-bottom: 8%;
}

    .btndefault > a {
        color: rgb(255,255,255);
    }

#ProgressHomepage {
    margin-top: 2%;
    margin-bottom: .5%;
}

    #ProgressHomepage > div {
        background: rgba(246,187,141,.6);
    }
/*图标颜色*/
.btn_color {
    color: rgb(189,16,121);
}
/*---注册样式结束---*/


/*!!!!!!! 页中脚部分开始*/
#Page_center {
    margin-top: 0.5%;
}

.hrs {
    background: rgba(246,6,132,.1);
}

.Hrimg {
    float: left;
    width: 12%;
    height: 100%;
    margin-left: 0%;
    margin-right: 4.6%;
}

    .Hrimg > div > a > img {
        float: left;
    }

/* 字体颜色*/
.HrimgFrist + a {
    color: rgb(189,16,121);
}

.HrimgSeend + a {
    color: rgba(255, 216, 0,.6);
}

.HrimgThrity + a {
    color: rgba(246,6,132,.8);
}

.HrimgFifth + a {
    color: rgba(0, 255, 33,.5);
}

.HrimgSixth + a {
    color: rgba(211, 187, 53, 0.9);
}

.HrimgSeventh + a {
    color: #c26161;
}

/* ---页中脚部分结束---*/
/*!!!!!商品图片展示样式开始--*/

.ShowPro_one, .ShowPro_two, .ShowPro_three {
    border: blue solid thin;
    width: 32%;
    height: inherit;
    float: left;
}

.ShowPro_two {
    margin-left: 2%;
}
/* ---商品图片展示样式结束---*/







